body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.callout-info {
    border-left-color: #1b809e;
}
.callout {
    padding: 5px;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #1b809e;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout-info h1 {
  color: #1b809e;
}
